p {
    color: b;
    font-size: 14px;
    font-family: sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 12px;
    margin: 25px;
}

h1 {
    margin-left: 200px;
    color: black;;
}

body{
    background-image: url(../images/fundo1.jpg);
    border: 10px solid;
    border-radius: 12px;
    border-color: lightseagreen;
    box-sizing: content-box;
    min-width: fit-content;
    min-height: auto;
    padding: 2rem 4rem;
    align-items: center;
}

.submit{
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 25px;
    border-bottom: 25px solid lightseagreen;
}

.Comentário{
    margin-left: 18px;
    margin-right: 18px;
    width: auto;
    height: auto;
    background-color: lightseagreen;
    border-radius: 12px;
}

.checkbox{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 25px;
    background-color: lightseagreen;
    border-radius: 12px;
}

.rad{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 25px;
    background-color: lightseagreen;
    border-radius: 12px; 
}

.select{
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 25px;
    background-color: lightseagreen;
    border-radius: 12px;
}

form{
    margin-left: 25px;
    margin-right: 25px;
    background-color: lightseagreen;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top: 25px solid lightseagreen;
}

label{
    margin-left: 25px;
    margin-right: 25px;
}